.fon-blue,
.fon-blue .fon-buttons {
	background-color: #1b58b7;
}

.fon-blue .fon-button {
	color: #FFF;
}

.fon-blue .fon-item {
	color: #FFF;
	background-color: #2673ec;
}

.fon-blue a.fon-item:hover,
.fon-blue .fon-item.fon-active {
	background-color: #3c89ec;
}

.fon-blue.fon-border,
.fon-blue.fon-border > .fon-buttons {
	border-color: #2673ec;
}

.fon-blue.fon-border .fon-item {
	border-color: #1b58b7;
}
