.fon-green,
.fon-green .fon-buttons {
	background-color: #339933;
}

.fon-border.fon-green,
.fon-border.fon-green > .fon-buttons {
	border-color: #42be42;
}

.fon-green .fon-button {
	color: #FFF;
}

.fon-green .fon-item-link {
	color: #FFF;
	background-color: #42be42;
}

.fon-green .fon-item-link:hover,
.fon-green .fon-item-link.fon-current {
	background-color: #47d847;
}

.fon-green .fon-item-title,
.fon-green .fon-item-back {
	color: #FFF;
	background-color: #5DAC5D;
}

.fon-green .fon-item-back:hover {
	background-color: #74CE74;
}
