.fon-light,
.fon-light .fon-buttons {
	background-color: #f5f5f5;
	border-color: #dcdcdc;
}

.fon-light.fon-border,
.fon-light.fon-border > .fon-buttons {
	border-color: #616161;
}

.fon-light .fon-button {
	color: #616161;
}

.fon-light .fon-button:hover {
	color:#000;
}

.fon-light .fon-item {
	color: #616161;
	background-color: #FDFDFD;
	border-color: #dcdcdc;
}

.fon-light .fon-item:hover,
.fon-light .fon-item.fon-current {
	color: #000;
	background-color: #FFFFFF;
	border-color: #dddddd;
}

.fon-light.fon-box-icon .fon-item > .fon-icon {
	border-color: #dcdcdc;
}
.fon-light.fon-box-icon .fon-item:hover > .fon-icon,
.fon-light.fon-box-icon .fon-item.fon-current > .fon-icon {
	border-color: #dddddd;
}
