.fon-dark,
.fon-dark .fon-buttons {
	background-color: #1c1817;
}

.fon-dark.fon-border,
.fon-dark.fon-border > .fon-buttons {
	border-color: #252120;
}

.fon-dark .fon-button {
	color: #bebebe;
}

.fon-dark .fon-button:hover {
	color:#FFF;
}

.fon-dark .fon-item {
	color: #bebebe;
	background-color: #2d2929;
	border-color: #1c1817;
}

.fon-dark a.fon-item:hover,
.fon-dark .fon-item.fon-active {
	color: #FFF;
	background-color: #3b3735;
}

.fon-dark.fon-box-icon .fon-item > .fon-icon {
	border-color: #1c1817;
}