.fon-flat-ui-red,
.fon-flat-ui-red .fon-buttons {
	background-color: #C0392B;
}

.fon-flat-ui-red .fon-button {
	color: #FFF;
}

.fon-flat-ui-red .fon-item {
	color: #FFF;
	background-color: #E74C3C;
}

.fon-flat-ui-red a.fon-item:hover,
.fon-flat-ui-red .fon-item.fon-active {
	background-color: #ff4d3d;
}

.fon-flat-ui-red.fon-border,
.fon-flat-ui-red.fon-border > .fon-buttons {
	border-color: #E74C3C;
}

.fon-flat-ui-red.fon-border .fon-item {
	border-color: #E74C3C;
}
